@import "vars";
@import "fonts";
@import "libs";

::placeholder{
	color: #666;
}

::selection{
	background-color: $accent;
	color: #fff;
}

input, textarea{
	outline: none;
	&:focus:required:invalid{
		border-color: red;
	}
	&:required:valid{
		border-color: green;
	}
}

body{
	font-size: 30px;
	min-width: 320px;
	position: relative;
	line-height: auto;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	color: $text;
}

//Header
.container{
	width: 1920px;
	background-color: #030303;
}
.content{
	width: 1520px;
	margin: 0 auto;
}
.nav{
	display: flex;
	justify-content: space-between;
}
.nav__list{
	display: flex;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav__item{
	margin-left: 40px;
}

